<!DOCTYPE html>
<html>

<head>
    <title>leaderboard | osu! slack</title>
    <%- include('partials/head') %>
    <script type="application/json" id="initial-leaderboard">
        <%- JSON.stringify(lb) %>
    </script>

        <script type="module" defer>
            const gamemodeSwitchers = document.querySelector('#gamemode-switchers');
            const tableBody = document.querySelector("tbody");
            let leaderboard = JSON.parse(document.querySelector('#initial-leaderboard').textContent);
            let currentMode = "<%= default_mode %>";

            const emptyTr = document.createElement('tr');
            const emptyTd = document.createElement('td');
            emptyTd.style.userSelect = 'none';
            emptyTd.innerHTML = "&nbsp;"
            emptyTr.append(emptyTd.cloneNode(true), emptyTd.cloneNode(true), emptyTd.cloneNode(true));

            const mobileSep = emptyTr.cloneNode(true);
            mobileSep.classList.add('mobile-table-sep');

            function refreshLeaderboard(mode) {
                if (currentMode == mode) return;

                currentMode = mode;

                const fragment = document.createDocumentFragment();

                fragment.append(emptyTr)

                leaderboard.sort((a, b) => b.scores[mode] - a.scores[mode]).forEach((player, index) => {
                    const tr = document.createElement('tr');

                    const placement = document.createElement('td');
                    placement.textContent = `#${index + 1}`;

                    const user = document.createElement('td');
                    user.setAttribute('style', 'display: flex; flex-direction: row; gap: 8px; align-items: center;');

                    const userName = document.createElement('div');
                    userName.setAttribute('style', 'display: flex; flex-direction: row; gap: 16px; align-items: center;')

                    const userFlag = document.createElement('img');
                    userFlag.setAttribute('width', '36px')
                    userFlag.classList.add("flag")
                    userFlag.src = `https://twemoji.maxcdn.com/v/latest/72x72/${player.flag}.png`

                    const userAvatar = document.createElement('img');
                    userAvatar.setAttribute('width', '36px')
                    userAvatar.classList.add("slack-pfp")
                    userAvatar.src = player.slackAvatar                    

                    const userLink = document.createElement('span');
                    userLink.classList.add('view-profile');

                    const osuProfileLink = document.createElement('a')
                    osuProfileLink.href = "https://osu.ppy.sh/users/" + player.osuId
                    osuProfileLink.textContent = "view osu! profile"
                    
                    userLink.append("(", osuProfileLink, ")")
                    userName.append(userFlag, userAvatar, player.slackDisplayName);
                    user.append(userName, userLink)

                    const score = document.createElement('td');
                    score.textContent = player.scores[mode].toLocaleString();

                    tr.append(placement, user, score)

                    fragment.append(tr, mobileSep.cloneNode(true))
                })

                tableBody.replaceChildren(fragment)
            }

            for (const button of gamemodeSwitchers.children) {
                button.addEventListener('click', (event) => {
                    const name = button.getAttribute('data-name');

                    document.querySelector('[selected]').removeAttribute('selected');

                    button.setAttribute('selected', '');

                    const params = new URLSearchParams(window.location.search);

                    params.set('mode', name);

                    window.history.replaceState({}, '', `${window.location.pathname}?${params.toString()}`)

                    refreshLeaderboard(name);
                })
            }

            window.addEventListener('popstate', (event) => {
                const params = new URLSearchParams(window.location.search);

                document.querySelector('[selected]').removeAttribute('selected');

                document.querySelector(`[data-name=${params.get('mode') || 'osu'}]`).setAttribute('selected', '');

                refreshLeaderboard(params.get('mode') || 'osu')
            })
        </script>
</head>

<body>
    <div class="container"
        style="display: flex; align-items: center; flex-direction: column; gap: 48px; height: 90%; width: 75%; padding: 64px;">
        <div class="ranking-header" style="display: flex; justify-content: space-between; width: 100%; align-items: center;">
            <div
                style="display: flex; gap: 24px; flex-direction: row; align-items: center; justify-content: flex-start; width: 100%;">
                <img src="/static/icons/ranking.png" width="48px" />
                <span style="font-size: 28px;">rankings</span>
            </div>

            <div style="display: flex; gap: 16px;" id="gamemode-switchers">
                <div title="osu!" class="ruleset-std act-as-button" data-name="osu" <%- default_mode=='osu' ? 'selected' : '' %> ></div>
                <div title="osu!taiko" class="ruleset-taiko act-as-button" data-name="taiko" <%- default_mode=='taiko' ? 'selected' : '' %> ></div>
                <div title="osu!catch" class="ruleset-ctb act-as-button" data-name="fruits" <%- default_mode=='fruits' ? 'selected' : '' %> ></div>
                <div title="osu!mania" class="ruleset-mania act-as-button" data-name="mania" <%- default_mode=='mania' ? 'selected' : '' %>></div>
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <td></td>
                    <td></td>
                    <td>performance</td>
                </tr>
            </thead>
            <tbody>
                <tr style="user-select: none;">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <% lb.sort((a, b)=> b.scores[default_mode] - a.scores[default_mode]).slice(0,15).forEach((player, index) => { %>
                    <tr>
                        <td>
                            #<%= index + 1 %>
                        </td>

                        <td style="display: flex; flex-direction: row; gap: 8px; align-items: center;">
                            <div style="display: flex; flex-direction: row; gap: 16px; align-items: center;" class="flex flex-row gap-4">
                                <img class="flag" src="https://twemoji.maxcdn.com/v/latest/72x72/<%= player.flag %>.png" width="36px" />
                                <img class="slack-pfp" src="<%= player.slackAvatar %>" width="36px" />
                                <span>
                                    <%= player.slackDisplayName %>
                                </span>
                            </div>
                            <span class="view-profile">(<a class="text-pink-300"
                                    href="https://osu.ppy.sh/users/<%= player.osuId %>">view osu!
                                    profile</a>)</span>
                        </td>
                        <td>
                            <%= player.scores[default_mode].toLocaleString() %>
                        </td>
                    </tr>
                    <tr style="user-select: none;" class="mobile-table-sep">
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>                    
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
    <div class="small-device-warning">
        <span>hiya! this website isn't really built for smaller devices.<br>
            you're welcome to use it, but it looks better on a laptop or pc!</span>
    </div>
<%- include('partials/buttonScript') %>

</html>